extends layout

block content
    h1 Welcome to The List
    form(name="add-estimation", method="post", action="http://ec2-52-54-54-112.compute-1.amazonaws.com/pkmnnerd/thelist/api/list")
        div.input
            span.label Add to The List
            br
            input(type="text", name="text")
        div.actions
            input(type="submit", value="add")
