extends layout

block content
    h1.
        The List
    ul
        each utext, i in textlist
            li
                span=utext.val
    a(href="http://ec2-52-54-54-112.compute-1.amazonaws.com/pkmnnerd/thelist/") Go back
